body {
	background-color: black;
	background: linear-gradient(55.96deg, #3A338A 21.39%, #C42F72 100%);
	font-family: system-ui, sans-serif;
}

header {
	margin: 0 auto;
	width: 64.7135417vw;
	height: 7.2463768vh; /* 135px */
	display: flex;
	align-items: center;
	gap: 1.953125vw; /* 60px */
}

header a {
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-size: max(12px, 0.9765625vw);
}

.header__logo {
	margin: 0 auto;
	width: 6.77083333vw;
}

main {
	position: relative;
	margin: 0 auto 7.2463768vh auto; /* 135px */
	width: 89.453125vw;
	height: 85.507246376811594vh; /* 1593px */
	background-color: transparent;
	background: linear-gradient(55.96deg, #3A338A 21.39%, #C42F72 100%);
	border-radius: 3.25520833vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	object-fit: cover;
	border-radius: 3.25520833vw;
	filter: grayscale(1) brightness(0.45) contrast(1.05);
}

.main__logo {
	width: 19.8567708vw;
	z-index: 1;
}

.main__text {
	font-weight: bold;
	font-size: 3.25520833vw; /* 3.25520833vw 100px */ 
	width: 61.2304688vw; /* 1354px */ 
	text-align: center;
	color: white;
	margin-top: 8.10546875vw; /* 249px */ 
	z-index: 1;
	line-height: 125%;
}

.main__arrow {
	width: 2.34375vw;
	z-index: 1;
	margin-top: 3.515625vw;
}

form {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 0;
	margin-top: 8.984375vw; /* 276px */ 
}

/* label {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	font-size: 3.25520833vw; /* 3.25520833vw 100px */ /*
	width: 61.2304688vw; /* 1354px */ /*
	text-align: center;
	color: white;
	margin-top: 8.10546875vw;
} */

input {
	width: 44.0755208vw; /* 1354px */
	height: 3.90625vw; /* 120px */
	background-color: white;
	border-radius: 0.651041667vw; /* 20px */
	text-align: center;
	font-weight: 400;
	font-size: 1.62760417vw; /* 50px */
	color: #1A1A1A;
}

button {
	background-color: #C42F75;
	background: linear-gradient(88.48deg, #C32F77 0%, #CF2E47 100%);
	margin-top: 2.34375vw; /* 72px */
	padding: 22px 56px; /* 22px 56px */
	font-weight: 500;
	font-size: 1.30208333vw; /* 40px */
	border-radius: 0.325520833vw; /* 10px */
	color: white;
}









.s2 {
	height: 30vh;
	background-color: black;
}

.s3 {
	height: 150vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
}

.s3__logo {
	width: 26.6276042vw;
}

.s3__text {
	font-size: 1.62760417vw;
	width: 71.3541667vw;
	text-align: center;
	margin-top: 20px;
}
