// todo адаптировать форму под разрешения ниже 320 пикселей
// сделать замену красного цвета если лайтнесс ниже 50% +
// обратно добавить анимацию, но при смене цвета убрать анимацию +
// добавить кнопку со сменой темы
// добавить prefered color scheme
// добавить кнопку смены шрифта

:root {
	--red: #AE1100;
	--bg: #EBECF0;

	// цвет тени
	--bg-hsl: hsl(228, 14%, 93%);
	--bg-hs: 228, 14%;
	--bg-l: 93%;
	--shadow: hsl(var(--bg-hs), calc(var(--bg-l) - 18%));

	--white: #FFF;
	--white2: hsl(var(--bg-hs), calc(var(--bg-l) + 7%));
	
}

body {
	background-color: var(--bg);
	will-change: background-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Hero New', system-ui, sans-serif;
}

form {
	padding: 16px;
	width: 320px;
}

.logo {
	width: 288px;
	margin-bottom: 50px ;
}

h2{
	letter-spacing: -0.2px;
    font-size: 16px;
	margin-bottom: 32px;
	text-align: center;
	color: var(--shadow);
	text-shadow: 1px 1px 1px var(--white);
}

// скрытие лейбла визуально, скринридеры смогут прочитать
h1, label { 
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.input {
	font-size: 16px;
	border-radius: 320px;
	padding: 16px;
	letter-spacing: -0.2px;
	color: var(--shadow);
	background-color: var(--bg);
	will-change: background-color;
	text-shadow: 1px 1px 0 var(--white);
	box-shadow:  inset 2px 2px 5px var(--shadow), inset -5px -5px 10px var(--white);
	width: 100%;
	// transition: all 0.2s ease-in-out;
	appearance: none;
	margin-bottom: 25px;
	border: none;

	&::placeholder {
		color: var(--shadow);
		text-shadow: 1px 1px 0 var(--white);
	}
	&:focus {
		box-shadow:  inset 1px 1px 2px var(--shadow), inset -1px -1px 2px var(--white);
		outline: none;
	}
}

.big-button {
	background-color: var(--bg);
	will-change: background-color;
	text-shadow: 1px 1px 0 var(--white);
	letter-spacing: -0.2px;
	padding: 16px;
	font-size: 16px;
	border: 0;
	border-radius: 320px;
	font-weight: 600;
	text-align: center;
    width: 100%;
    color: var(--shadow);
	user-select: none;
	-webkit-tap-highlight-color: transparent;

	box-shadow: -5px -5px 20px var(--white),  5px 5px 20px var(--shadow);
	// transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		box-shadow: -2px -2px 5px var(--white), 2px 2px 5px var(--shadow);
	}
	
	&:active {
		box-shadow: inset 1px 1px 2px var(--shadow), inset -1px -1px 2px var(--white);
	}
	&:focus-visible {
		outline: 4px solid var(--red);
	}
}


.bottom-buttons {
	margin-top: 32px;
	display: flex;
	justify-content: space-evenly;
}
.bottom-button {
	// color:#61677C;
	background-color: var(--bg);
	will-change: background-color;
	border: 0;
	border-radius: 8px;
    width: 48px;
    height: 48px;
	// margin-right: 20px;
	-webkit-tap-highlight-color: transparent;

	box-shadow: -5px -5px 20px var(--white),  5px 5px 20px var(--shadow);
	// transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		box-shadow: -2px -2px 5px var(--white), 2px 2px 5px var(--shadow);
	}
	
	&:active {
		box-shadow: inset 1px 1px 2px var(--shadow), inset -1px -1px 2px var(--white);
	}
	&:focus-visible {
		outline: 4px solid var(--red);
	}
}

.color-input {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
	height: 48px;
	padding: 0;
	width: 48px;
	box-shadow: -5px -5px 20px var(--white),  5px 5px 20px var(--shadow);
	// transition: all 0.2s ease-in-out;



	&:hover {
		box-shadow: -2px -2px 5px var(--white), 2px 2px 5px var(--shadow);
	}

	// &:focus{
	// 	// box-shadow: inset 1px 1px 2px var(--shadow), inset -1px -1px 2px  var(--white);
	// 	outline: 3px solid blue;
	// }

	&:active {
		box-shadow: inset 1px 1px 2px var(--shadow), inset -1px -1px 2px var(--white);
	
	}
	// &:focus-visible {
	// 	outline: 4px solid var(--red);
	// }
}



	
	::-webkit-color-swatch-wrapper {
		padding: 0;
	}

	::-webkit-color-swatch{
		border: 0;
		border-radius: 8px;
	}
	::-webkit-color-swatch:active{
		border-radius: 8px; 
		box-shadow: inset 1px 1px 2px var(--shadow), inset -1px -1px 2px var(--white);
	}

	::-moz-color-swatch,
	::-moz-focus-inner{
		border: 0;
	}
	
	::-moz-focus-inner{
		padding: 0;
	}

	.transition {
		transition: all 0.2s ease-in-out;
	}

