$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

body {
	background-color:$color-bg;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

body, p, input, select, textarea, button {
    font-family: 'Hero New', system-ui, sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

div, p {
	color: $color-shadow;
	text-shadow: 1px 1px 1px $color-white;
}

form {
	padding: $ruler;
	width: 320px;
}

.segment {
	padding: 32px 0;
	text-align: center;
}

button, input {
	border: 0;
	outline: 0;
	font-size: $ruler;
	border-radius: 320px;
	padding: $ruler;
	background-color:$color-bg;
	text-shadow: 1px 1px 0 $color-white;
}

label {
	display: block;
	margin-bottom: 25px;
	width: 100%;
}

input {
	box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
	width: 100%;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
	appearance: none;

	&:focus {
		box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
	}
}

button {
	color:#61677C;
	font-weight: bold;
	box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	font-weight: 600;
  
	&:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
	}

	&:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
	}

	&.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 0 8px;
}

	&.red {
    display: block;
	text-align: center;
    width: 100%;
    color:$color-red;
	}
}
