$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

body {
	background-color:$color-bg;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Hero New', system-ui, sans-serif;
}

form {
	padding: 16px;
	width: 320px;
}

.logo {
	width: 288px;
	margin-bottom: 50px ;
}

h1{
	letter-spacing: -0.2px;
    font-size: 16px;
	margin-bottom: 32px;
	text-align: center;
	color: $color-shadow;
	text-shadow: 1px 1px 1px $color-white;
}

// скрытие лейбла визуально, скринридеры смогут прочитать
label { 
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input {
	font-size: 16px;
	border-radius: 320px;
	padding: 16px;
	letter-spacing: -0.2px;
	color: $color-shadow;
	background-color:$color-bg;
	text-shadow: 1px 1px 0 $color-white;
	box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
	width: 100%;
	transition: all 0.2s ease-in-out;
	appearance: none;
	margin-bottom: 25px;

	&::placeholder {
		text-shadow: 1px 1px 0 $color-white;
	}
	&:focus {
		box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
	}
}

.big-button {
	background-color:$color-bg;
	text-shadow: 1px 1px 0 $color-white;
	letter-spacing: -0.2px;
	padding: 16px;
	font-size: 16px;
	border: 0;
	border-radius: 320px;
	font-weight: 600;
	text-align: center;
    width: 100%;
    color:$color-red;

	box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
	}
	
	&:active {
		box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
	}
}


.bottom-buttons {
	margin-top: 32px;
	display: flex;
	justify-content: center;
	gap: 20px;
}
.bottom-button {
	// color:#61677C;
	border: 0;
	border-radius: 8px;
    width: 48px;
    height: 48px;

	box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
	}
	
	&:active {
		box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
	}
}